@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-800 font-basier-circle;
}

a {
  @apply transition duration-150 ease-in-out;
}

.skeleton-loading {
  position: relative;
  overflow: hidden;
}

.skeleton-loading::before {
  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: -2px;
  bottom: -2px;
  height: 100%;
  width: 200px;
  background: linear-gradient(to right, transparent 0%, #ffffff 30%, transparent 100%);
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  opacity: 0.5;
}

.react-icons {
  vertical-align: middle;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.react-select [type='text']:focus {
  --tw-ring-color: none;
}
