name: Test

on:
  push:
    branches:
      - master
  pull_request:

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Load node_modules cache
        uses: actions/cache@v2
        id: cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Prettier
        run: yarn prettier --check "src/**/*.(js|ts)"

      - name: Lint
        run: yarn lint

      - name: TypeScript Compile
        run: yarn typecheck

      - name: Unit Test
        run: yarn test:unit

      - name: Notify slack fail
        if: ${{ failure() && github.ref =='refs/heads/master' }}
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: development
          status: FAILED
          color: danger
